<!--
    From:
    https://github.com/Code-Institute-Solutions/Boutique-Ado/blob/master/05-The-Home-Page/Main-Site-Navigation/templates/includes/main-nav.html
-->

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="pizza-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pizza &amp; Calzone
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pizza-link">
                <a href="{% url 'products' %}?category=meat" class="dropdown-item">Meat</a>
                <a href="{% url 'products' %}?category=vegetarian" class="dropdown-item">Vegetarian</a>
                <a href="{% url 'products' %}?category=vegan" class="dropdown-item">Vegan</a>
                <a href="{% url 'products' %}?category=meat,vegetarian,vegan" class="dropdown-item">All Pizza</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="drinks-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drinks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="drinks-link">
                <a href="{% url 'products' %}?category=cold_drinks" class="dropdown-item">Cold Drinks</a>
                <a href="{% url 'products' %}?category=hot_drinks" class="dropdown-item">Hot Drinks</a>
                <a href="{% url 'products' %}?category=cold_drinks,hot_drinks" class="dropdown-item">All Drinks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More...
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'post_list' %}" class="dropdown-item">Our Blog</a>
                <a href="{% url 'subscribe' %}" class="dropdown-item">Subscribe</a>
        </li>
    </ul>
</div>