{% extends 'base.html' %} 
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<br><br>
<div class="overlay"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-3 title-padding">
        <div class="card mb-4">
            <div class="card-body">
                <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
                <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
                <p class="card-text ">{{ object.content | safe }}</p>
                <a href="{% url 'post_list' %}" class="btn btn-outline-black rounded-0 text-uppercase mt-5">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Go Back</span>
                </a>
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock content %}
