{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="overlay"></div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-3 title-padding">
            <div class="card mb-4">
                <div class="card-body">
                    <h1>500 | Internal Server Error</h1>
                    <br>
                    <h2>Are you lost?</h2>
                    <a href="{% url 'home' %}" class="btn btn-danger rounded-0 text-uppercase mt-5">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Go Home</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}